<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Загрузка JSON</title>
</head>
<body>
     <h1>Загрузить JSON-файл</h1>

     {% if error %}
        <p style="color: red;">{{error}}</p>
     {% endif %}

     {% if success %}
        <p style="color: green;">{{success}}</p>
     {% endif %}

     <form action="/upload" method="post" enctype="multipart/form-data">
        <input type="file" name="file" accept=".json" required />
        <button type="submit">Загрузить</button>
     </form>
</body>
</html>